<%= render 'layouts/navbar' %>

<h1>Thanks for submitting your preferences!</h1>


<!--<%#= link_to 'Show', @ranking %> |-->
<%= link_to 'Go Back to Edit Your Preferences', project_participant_ranking_path %>
