<%= stylesheet_link_tag "application" %>

<% if flash[:message] %>
  <div class="alert alert-danger alert-dismissible show" role="alert">
    <span class="error"><%= flash[:message] %></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<%= render 'navbar' %>

<div class="mx-4 my-4">
  <%= link_to 'Enter Manually', display_project_participants_path(params[:project_id]), class:"btn btn-primary" %>
  <br>
</div>
