<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    <p><%=@body%></p>
    <p>Click here to rank: <%= link_to "link", edit_project_participant_ranking_url(secret_id: @secret_id, participant_id: @part_id,project_id: @proj_id) %></p>
  </body>

</html>
