<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    <p><%=@body%></p>
    <p>Click here to rank: <%= link_to 'Link to rank', @rank_link %> </p>
  </body>
</html>
