/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_tree
 */
@import 'bootstrap';

.datepicker{
    width: 30%;
    font-size: 14px;
}

.dates-chosen {
  white-space: pre
}

.datepicker-inline {
    width: 80%;
}

.dropdown-menu{
    width: 25%;
}

.datepicker table {
    margin: auto;
    width: 80%;
}

.table-condensed{
    width: 300px;
    height: 300px;
}

.user-container{
    margin: 10% auto;
    width: 50%;
}

.jumbotron{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#billboard{
    display: flex;
}

.dates-left-side{
    width: 50%;
}

.dates-right-side{
    flex-grow: 1;
}

.project-header{
    font-size: 30px;
}