/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_tree
 */
@import 'bootstrap';

ul {
  list-style-type: none;
}

ul li {
    margin: 5px 0;
}

/* Times */
.datepicker{
    width: 30%;
    font-size: 14px;
}

.dates-chosen {
  white-space: pre
}

.datepicker-inline {
    width: 80%;
}

.dropdown-menu{
    width: 25%;
}

.datepicker table {
    margin: auto;
    width: 80%;
}

.table-condensed{
    width: 300px;
    height: 300px;
}

.user-container{
    margin: 10% auto;
    width: 50%;
}

.jumbotron{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#billboard{
    display: grid;
}

#dates{
    display: grid;
    grid-template-columns: 50% 50%;
}

.project-header{
    font-size: 30px;
}

.times-table-date{
    font-weight:bold;
    margin: 15px 0;
}

.times-table-date span{
    font-size: 15px;
    font-weight: normal;
    margin-right: 10px;
}

.times-table-date button{
    margin: 0 15px;
}

.times-table-date div{
    margin: 10px 0;
}

#bottom-times, #timeslow_div{
    margin-top: 30px;
}

.timeslot-div {
    width: 100%;
}

#timeslot, #dates, #bottom-times{
    padding: 1.5rem 2rem;
    margin: 1rem 0;
}

#actions {
    padding: 1.5rem 2rem;
    margin: 1rem 0;
}

.current-duration{
    margin-top: 20px;
}

.project-times-table{
    margin: 20px 0 30px 0;
}

.project-times-table div{
    width: 50%;
}

.project-times-dateentry{
    margin-top: 20px;
}

.project-times-timeentry{
    display: grid;
    grid-template-columns: 50% 50%
}

#timeslot-toggle {
    margin-top: 20px;
}

.datepicker-inline{
    display: none !important;
}