<!--
https://getbootstrap.com/docs/4.0/components/alerts/

We will use the following classes for alert messages:
flash[:success] => class="alert-success" (green)
flash[:message] => class="alert-primary" (blue)
flash[:danger] => class="alert-danger" (red)

allowed inputs into flash[:<message_type>] => string or array of strings
all strings are converted to arrays of one string
-->

<% if flash[:success] %>
  <div class="alert alert-success alert-dismissible show" role="alert">
    <% messages = Array(flash[:success]) %>
    <% messages.each do |msg| %>
      <p><%= msg.html_safe %></p>
    <% end %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if flash[:message] %>
  <div class="alert alert-primary alert-dismissible show" role="alert">
    <% messages = Array(flash[:message]) %>
    <% messages.each do |msg| %>
      <p><%= msg.html_safe %></p>
    <% end %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if flash[:danger] %>
  <div class="alert alert-danger alert-dismissible show" role="alert">
    <% messages = Array(flash[:danger]) %>
    <% messages.each do |msg| %>
      <p><%= msg.html_safe %></p>
    <% end %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
